<!doctype html>
<html lang="en" style="box-sizing: border-box;height:100%;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;">

<head style="box-sizing: border-box;">
    <!-- Required meta tags -->
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">

    <title style="box-sizing: border-box;">Converge</title>


    <style style="box-sizing: border-box;">
        @font-face {
            font-family: 'DINPro';
            src: url("https://firebasestorage.googleapis.com/v0/b/andelamrm.appspot.com/o/email_assets%2Ffonts%2FDINPro-Regular.woff?alt=media&token=8740b12d-b0d5-497a-8288-53fc5a6b432e");
        }
    </style>
</head>

<body style="box-sizing: border-box;margin: 0;height:100%;font-family: 'DINPro', 'Roboto', sans-serif;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #f4f8f9;min-width: 992px!important;">
    <div class="container" style="box-sizing: border-box;height:100%;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;padding:70px;">
        <div id="email" style="box-sizing: border-box;width: 611px;background-color: #ffff;margin: auto;">
            <div class="converge" style="box-sizing: border-box;padding-top: 24px;height: 23;width: 195px;color: #3359db;font-size: 18px;font-weight: 500;letter-spacing: 0.36px;line-height: 23px;margin: auto;">
                <img src="https://i.imgur.com/6foV1gb.png" alt="" style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;">
                <span class="logo" style="box-sizing: border-box;display: inline-block;margin-left: 10px;">
                    <h5 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;font-size: 1.25rem; font-family: 'DINPro', 'Roboto', sans-serif">CONVERGE</h5>
                </span>
            </div>
            <div style="box-sizing: border-box;">
                <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
            </div>
            <div class="rectangle" style="box-sizing: border-box;width: 610px;text-align: center;">
                <div style="box-sizing: border-box;">
                    <h5 class="greeting" style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 31px;color: inherit;font-size: 24px;padding-top: 63px;">
                        <Strong>Rejected Event!</strong>
                    </h5>
                </div>
                <div class="rectangle-3" style="box-sizing: border-box;margin: 45px 105px;">
                    <p class="invite" style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;orphans: 3;widows: 3;color: #6d6d6d;line-height: 21px;font-family: 'DINPro', 'Roboto', sans-serif !important; text-align: unset; width: fit-content;">
                        <strong> {{ room_name }} </strong> has just rejected the reservation for the meeting  <strong> {{ event_title }} </strong> because no one has checked in {{ event_reject_reason }}.
                    </p>
                </div>
                <div style="box-sizing: border-box;">
                    <hr class="line" style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 70px;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
                </div>
            </div>
            <div class="rectangle-2" style="box-sizing: border-box;height: 130px;width: 610px;border-radius: 0 0 4px 4px;">
                <div class="contact" style="box-sizing: border-box;height: 54.32px;width: 490px;font-family: 'DINPro', 'Roboto', sans-serif, sans-serif;color: #000000;font-size: 16px;line-height: 27px;padding-top: 39px;padding-bottom: 39px;margin: auto;text-align: center;">
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                        Have a question?
                        <br style="box-sizing: border-box;"> <a href="#" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;">
                            support@converge.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="subcription" style="box-sizing: border-box;height: 19.16px;width: 490px;color: #000111;font-family: 'DINPro', 'Roboto', sans-serif, sans-serif;font-size: 16px;line-height: 19px;text-align: center;margin: auto;padding-top: 15px;">
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">You can change your<span style="box-sizing: border-box;"><a
                        id="link" href="https://converge-test.andela.com/preference" style="box-sizing: border-box;color: #999999;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;">
                        <strong>subscription settings </strong></a></span> anytime.</p>
        </div>
    </div>
</body>

</html>
